body {
    background-color: lightblue;
    overflow: hidden;
}
.contentbox {
    margin: auto;
    width: 50%;
    background-color: white;
    border: 1px grey;
    padding: 25px;
} 
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
     margin-right: auto;
	    margin-left: auto;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
@media only screen and (max-width: 500px) {
    .contentbox {
    	display: block;
    	width: 100%;
        padding: 15px;
        margin-right: auto;
    	margin-left: auto;
    	/*
    	position: absolute;
    	left: -10px;/
    */
        }
    .outer {
	    margin-right: auto;
	    margin-left: auto;
	    width: 100%;
	    background-color: white;

	}
	.middle {
		display: block;
	}
}