body {
    background-color: lightblue;
}
.contentbox {
    margin: auto;
    width: 50%;
    background-color: white;
    border: 1px grey;
    padding: 25px;
} 
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
@media only screen and (max-width: 500px) {
    .contentbox {
        width: 100%;
        padding: 15px;
    }
    .outer {
    width: auto;}
}