html {
    overflow-x: !importanthidden; }

body {
    background-color: #000000;
    overflow: hidden;
}
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("images/serge-khrumalo-sketchbook-page-background.png");
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentbox {
    margin: auto;
    width: 50%;
    background-color: white;
    border: 1px solid #fafafa;
    padding: 25px;
} 
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
     margin-right: auto;
	    margin-left: auto;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
@media only screen and (max-width: 500px) {
    .contentbox {
    	display: block;
    	width: 100%;
        padding: 15px;
        margin-right: auto;
    	margin-left: auto;
    	/*
    	position: absolute;
    	left: -10px;/
    */
        }
    .outer {
	    margin-right: auto;
	    margin-left: auto;
	    width: 100%;
	    background-color: white;

	}
	.middle {
		display: block;
	}
}